* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Стилі для форми */
.search-form {
  background-color: #5e6cbb;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  padding: 5px;
  height: 25px;

  border-left: 1px solid #5e6cbb;
  border-top: 1px solid #5e6cbb;
  border-bottom: 1px solid #5e6cbb;
  border-right: none;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-btn {
  width: 35px;
  height: 25px;
  padding: 0;
  cursor: pointer;

  border-right: 1px solid #5e6cbb;
  border-top: 1px solid #5e6cbb;
  border-bottom: 1px solid #5e6cbb;
  border-left: none;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #dcdce4;
}

.icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

/* Стилі для галереї */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.photo-card {
  flex-basis: 280px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.thumb-img {
  width: 280px;
  height: 187px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
}

/* Стилі для кнопки завантаження */
.load-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.load-more {
  background-color: #5e6cbb;
  color: #ffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
